* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* Banner */
.bg-duck {
  background-image: url(../imgs/banner-image.png);
  background-size: cover;
  aspect-ratio: 1;
}

.bg-banner {
  background-image: url(../imgs/banner-bg.png);
  background-size: cover;
}
