* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

img {
  width: 100%;
}

/* Banner */
.bg-duck {
  background-image: url(../imgs/banner-image.png);
  background-size: cover;
  aspect-ratio: 1;
}

.bg-banner {
  background-image: url(../imgs/banner-bg.png);
  background-size: cover;
}

/* Description */
.text-custom {
  font-size: 0.6rem;
}

@media (min-width: 992px) {
  #description-sect img {
    width: 200px;
  }
}

@media (min-width: 992px) {
  #description-sect .container-custom {
    width: 50%;
  }
}
