* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

img {
  width: 100%;
}

/* Banner */
.bg-duck {
  background-image: url(../imgs/banner-image.png);
  background-size: cover;
  aspect-ratio: 1;
}

.bg-banner {
  background-image: url(../imgs/banner-bg.png);
  background-size: cover;
}

/* Description */
.text-custom {
  font-size: 0.6rem;
}

@media (min-width: 992px) {
  #description-sect img {
    width: 200px;
  }
}

@media (min-width: 992px) {
  #description-sect .container-custom {
    width: 50%;
  }
}

/* Products */
.price {
  color: #04df6c;
  font-weight: 700;
}

.valutation {
  font-size: 0.5rem;
}

#products-sect > div:first-of-type {
  font-size: 0.7rem;
}

/* FAQs */
.accordion {
  --bs-accordion-active-color: black;
  --bs-accordion-active-bg: transparent;
}

.accordion button:focus {
  box-shadow: 0 0 0;
}

.accordion-item {
  border: 0;
}
.accordion-body {
  border-top: 1px solid black;
}
